{% extends "manager/base.html" %}

{% block title %}Gestion de la liste des véhicules{% endblock %}

{% block content %}
    <div class="content-dark-font">
        <div class="row justify-content-center p-2">
            <h3 class="text-golden">Liste des véhicules</h3>
        </div>
        <div class="row justify-content-center p-2" >
                <button type="button" class="btn btn-warning"><a class="ajout-vehicule" href="{%url 'manager:ajout_vehicule'%}">Ajouter un véhicule</a></button>
        </div>
    <div class="row justify-content-center p-2">
    <div class="content-table table-responsive-sm  p-2">
            <table class="table table-hover" id="Liste_des_véhicules" aria-label="Liste des véhicules">
                <thead>
                    <tr>
                        <td><strong>Nom Agence</strong></td>
                        <td><strong>Code</strong></td>
                        <td><strong>Label</strong></td>
                        <td><strong>Sample</strong></td>
                        <td><strong>Marque</strong></td>
                        <td><strong>Numéro d'enregistrement</strong></td>
                        <td></td>
                    </tr>
                </thead>

                <tbody>
                {% for vehicle in vehicules %}
                    <tr>
                        <td>{{ vehicle.agence.name }}</td>
                        <td>{{ vehicle.category.code }}</td>
                        <td>{{ vehicle.category.label }}</td>
                        <td>{{ vehicle.category.sample }}</td>
                        <td>{{ vehicle.brand }}</td>
                        <td>{{ vehicle.registration }}</td>
                        <td>
                            <form id="suppression" method="post" action={% url 'manager:suppression_vehicule' vehicle.id %}>
                                {% csrf_token %}
                                <button type="submit" class="btn btn-warning">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
        </div>
    </div>
    </div>

{% endblock %}