{% extends 'rental/base.html' %}
{% block title %}Mon compte rental{% endblock %}

{% block content %}
    <div class="registration">
        <form method="post">
            {% csrf_token %}
            <h1>Créer un compte rental</h1>
            {{ user_form.as_p }}
            {{ customer_form.as_p }}
            <p><input type="submit" value="CREER MON COMPTE"></p>
            <p>Vous avez déjà un compte ?
                <a href="{% url 'rental:login' %}?next={{ next }}"> Identifiez-vous !</a>
            </p>
        </form>
    </div>

{% endblock %}