{% extends "rental/base.html" %}
{% load static %}

{% block content %}

<div class="container content content-dark-font conseils" >
    <div class="row justify-content-center py-3 " id="services-section">
        <div class="text-center text-golden" id="title-details"> Agence {{ agency.name }}</div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-center p-2">
        <div class="p-2 col-md-3 align-self-center text-white text-left">
            <h2><em>Adresse :</em></h2> <br/>
            {{ agency.address }}<br/>
            <strong>Code postal :</strong> {{ agency.postal_code }}<br/>
            <strong>Ville :</strong> {{ agency.city }}<br/>
        </div>
        <div class="embed-responsive embed-responsive-1by1  py-2 col-md-6">
            <iframe class="embed-responsive-item align-self-center m-2" src="{{ agency.location  }}"
                    width="400" height="275" frameborder="0" style="border:0;" allowfullscreen=""
                    aria-hidden="false" tabindex="0" alt="localisation Goople MAPS de l'agence"></iframe>
            </iframe>
        </div>
      </div>
</div>
{% endblock %}
