<!DOCTYPE html> 
<html lang="fr">

<head>
    {% load static %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">

    <title>{% block title %}PyLOC{% endblock%}</title>

    <link rel="stylesheet" href="{% static 'rental/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'rental/style_2.css' %}"/>
    <link rel="stylesheet" href="{% static 'rental/style.css' %}"/>
    <script src="{% static 'rental/js/font_awesome.js' %}"></script>
</head>

<body>
<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-1   ">
    <a class="my-0 mr-md-auto font-weight-normal" href="{% url 'rental:home' %}" id="main-title-2"><img src="{% static 'rental/icones/logo_p.png' %}" width="50" height="50" class="d-inline-block align-content-sm-center" alt="">Pyloc</a>

    <nav class="my-2 my-md-0 mr-md-3" id="menu">
        <a class="item-menu p-2 active" href="{% url 'rental:tourism_categories' %}">Tourisme</a>
        <a class="item-menu p-2 active" href="{% url 'rental:services_categories' %}">Services</a>
        <a class="item-menu p-2 active" href="{% url 'rental:agences' %}">Agences</a>
        <a class="item-menu p-2 active" href="{% url 'rental:entreprise_categories' %}">Entreprise</a>
    </nav>
{#    <a class="btn btn-dark p-2" href="#">Se connecter</a>#}

 <div class="my-0 " id="icons" >
            {% if not user.is_authenticated %}
                <a href="{% url 'rental:edit_customer' %}?next={{ request.path }}">
                    {{ request.user.first_name }} {{ request.user.last_name }}
                </a>
                <a href="{% url 'rental:login' %}?next={{ request.path }}">
                    <i class="fa fa-user" aria-hidden="true"></i>Se connecter
                </a>
            {% else %}
                <a href="{% url 'rental:logout' %}?next={{ request.path }}">
                    {{ request.user.first_name }} {{ request.user.last_name }} <i class="fa fa-user" aria-hidden="true"></i>Se déconnecter
                </a>
            {%  endif %}
 </div>
</div>
</header>


    <main role="main">
        <div class="p-5">
            {% block content %}{% endblock %}
        </div>
    </main>



<footer class="d-flex flex-column flex-md-row footer container-fluid border-top py-2">
        <div class="col  ">
            <img class="p-2 mb-2" src="{% static 'rental/icones/clicli.png' %}" alt="" width="auto" height="100">
            <small class="p-2 d-block mb-3 text-white">&copy; Pyloc</small>
        </div>
        <div class="col  ">
            <h5>A propos de votre réservation</h5>
            <ul class="list-unstyled text-small">
                <li><a href="{% url 'rental:conseils' %}">Conseils de voyage</a></li>
                <li><a href="{% url 'rental:contact_categories' %}">Nous contacter</a></li>

            </ul>
        </div>
        <div class="col  ">
            <h5>A propos de PyLOC</h5>
            <ul class="list-unstyled text-small">
                <li><a href="{% url 'rental:partenaires' %}">Nos partenaires</a></li>
                <li><a href="{% url 'rental:entreprise_categories' %}">Notre entreprise</a></li>

            </ul>
        </div>
        <div class="col ">
            <h5>Informations légales</h5>
            <ul class="list-unstyled text-small">

                <li><a href="{% url 'rental:confidentialite' %}">Politique de confidentialité</a></li>
                <li><a href="{% url 'rental:conditions' %}">Conditions générales</a></li>
            </ul>
        </div>

    </div>

</footer>
</body>

</html>

