<!DOCTYPE html> 
<html lang="fr">

<head>
    {% load static %}
    <meta charset="utf-8"/>
    <title>{% block title %}PyLOC{% endblock%}</title>
    <link rel="stylesheet" href="{% static 'rental/style.css' %}"/>
    <script src="{% static 'rental/js/font_awesome.js' %}"></script>
</head>

<body>
<header>
    <div id="main-title"><a href="{% url 'rental:home' %}">PyLOC</a></div>
    <div id="icons-menu">
        <div id="icons">
            {% if not user.is_authenticated %}
                <a href="{% url 'rental:edit_customer' %}?next={{ request.path }}">
                    {{ request.User.first_name }} {{ request.User.last_name }}
                </a>
                <a href="{% url 'rental:login' %}?next={{ request.path }}">
                    <i class="fa fa-user" aria-hidden="true"></i>Se connecter
                </a>
            {% else %}
                <a href="{% url 'rental:logout' %}?next={{ request.path }}">
                    <i class="fa fa-user" aria-hidden="true"></i>Se déconnecter
                </a>
            {%  endif %}
        </div>

        <nav id="main-menu" aria-label="Menu Principal">
            <ul>
                <li><a href="{% url 'rental:tourism_categories' %}">Tourisme</a></li>
                <li><a href="{% url 'rental:services_categories' %}">Services</a></li>
                <li><a href="{% url 'rental:agences' %}">Agences</a></li>
                <li><a href="{% url 'rental:entreprise_categories' %}">Entreprise</a></li>
            </ul>
        </nav>
    </div>
</header>

<section>
    <div>{% block content %}{% endblock %}</div>
</section>


<footer>
    <div class="footer-bloc">
        <div id="reservation">
            <h2>A propos de votre réservation</h2>
            <nav class="nav-footer" aria-label="A propos de votre réservation"></nav>
            <ul>
                <li><a href="{% url 'rental:conseils' %}">Conseils de voyage</a></li>
                <li><a href="{% url 'rental:contact_categories' %}">Nous contacter</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bloc">
        <div id="about">
            <h2>A propos de PyLOC</h2>
            <nav class="nav-footer" aria-label="A propos de PyLOC"></nav>
            <ul>
                <li><a href="{% url 'rental:partenaires' %}">Nos partenaires</a></li>
                <li><a href="{% url 'rental:entreprise_categories' %}">Notre entreprise</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bloc">
        <div id="informations-legales">
            <h2>Informations légales</h2>
            <nav class="nav-footer" aria-label="Informations légales"></nav>
            <ul>
                <li><a href="{% url 'rental:confidentialite' %}">Politique de confidentialité</a></li>
                <li><a href="{% url 'rental:conditions' %}">Conditions générales</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>

</html>

