{% extends './base.html' %}

{% load static %}

{% block title %}Conditions générales{% endblock %}

<link rel="stylesheet" href="{% static 'rental/style.css' %}"/>

{% block content %}
    <div class="container sonseil content">
    <div class="conditions-generales text-center">
        <h1>Conditions générales applicables lors d'une réservation en ligne sur le site PYLOC</h1>
        <p>Nous vous remercions de bien vouloir prendre connaissance des présentes Conditions Générales de réservation.
        Vous serez invités à confirmer que vous avez lu et compris ces dernières en tant que partie intégrante des
        Conditions Générales avant la finalisation de votre réservation.</p>
        <h2>1. Etapes de la réservation en ligne</h2>
        <p>
            <ul>
                <li>Etape 1 : Recherche <br/>
                    Saisissez vos critères de location sur le formulaire de réservation en ligne incluant le choix des dates,
                    l'agence de location et le véhicule.
                </li></br>
                <li>Etape 2 : Choix du véhicule <br/>
                    En fonction des critères que vous nous aurez communiqués, PYLOC vous fournira plusieurs offres possibles
                    correspondant à votre demande.
                    Une offre se définie par : - un service qui inclut une catégorie de véhicule disponible pour la durée choisie
                    avec les options demandées - un prix qui peut-être soit un tarif « prépayé », soit un tarif « payé en agence »
                    Vous pourrez alors sélectionner l’offre qui correspond le mieux à Vos attentes.
                </li></br>
                <li>Etape 3 : Choix des options <br/>
                    Il Vous sera alors possible de sélectionner des options ou des protections additionnelles en cliquant sur les
                    icônes correspondantes. Le coût de chaque options et/ou protection complémentaire(s) que Vous aurez sélectionnées
                    s’ajoutera alors au prix final de Votre location.
                </li></br>
                <li>Etape 4 : Réservation <br/>
                    Une fois que Vous aurez complété Votre réservation, il Vous sera demandé de cliquer sur l’onglet « Réserver » pour
                    réserver temporairement l’offre sélectionnée.
                </li></br>
                <li>Etape 5 : Confirmation <br/>
                    Après avoir complété l’ensemble de vos détails personnels, il vous sera demandé de vérifier Votre récapitulatif de
                    réservation et de donner Votre accord. Pour se faire, Vous serez invité à prendre connaissance des Conditions Générales
                    de Location applicables dans le lieu de votre location. Une fois ces Conditions acceptées, il Vous sera alors possible
                    de finaliser Votre réservation soit en prépayant après avoir cliqué sur l’onglet « payer en ligne » soit en confirmant
                    votre réservation en cliquant sur l’onglet « Payer en Agence ».
                </li></br>
                <li>Etape 6 : Confirmation de réservation par PYLOC <br/>
                    PYLOC Vous adresse une confirmation de réservation incluant Votre numéro de réservation ainsi que l’ensemble des détails de cette dernière.
                </li></br>
            </ul>
        </p>
        <h2>2. Courrier électronique de confirmation de réservation adressé par PYLOC</h2>
        <p>A l’issue de la  procédure de réservation, vous serez redirigé vers une page "confirmation de réservation" sur laquelle sera souligné
            le numéro de réservation. Vous recevrez également un courrier électronique de confirmation de réservation contenant tous les détails
            de votre réservation et une copie en pièce jointe des Conditions Générales de location applicables dans le pays de Votre location.
            Nous Vous recommandons d’imprimer ce dernier et le conserver aux fins d’archives.
        </p>
        <h2>3. Détails de réservation</h2>
        <p>
        <ul>
                <li>
                    <strong>Date de réservation :</strong> Nous acceptons des réservations jusqu’à 2 heures avant la prise du véhicule. Vous pouvez effectuer votre réservation jusqu'à 15 mois à l'avance.
                </li>
                <li>
                    <strong>Durée minimum de location :</strong> La durée minimum de location est de 1 jour (hormis dans le cadre de l'offre « Location à l'heure »). 1 jour correspond à 24 heures.
                    Dans ces 24 heures sont inclus le temps pour la prise et le retour du véhicule en agence. - Les locations de moins de 24 heures sont facturées au prix d'une journée entière
                    sauf dans certaines agences où les locations à l'heure s'appliquent. Certains vouchers ou promotions nécessitent une période minimum obligatoire plus longue.
                    Merci de vous référer aux conditions générales de l'offre ou du voucher en question.
                </li>
                <li>
                    <strong>Durée maximum de location :</strong> Vous pouvez louer votre véhicule pour une durée maximale de 12 mois.
                </li>
        </ul>
        </p>
        <h2>4. Tarifs</h2>
        <p>
        Votre devis de location de voiture PYLOC comprend toutes les charges correspond à vos critères de réservation.
        Ce devis inclus généralement les éléments suivants :
        <ul>
            <li>La TVA ou taxe locale ;</li>
            <li>La Young Driver Surcharge (surcharge jeunes conducteurs), si applicable ;</li>
            <li>Le kilométrage illimité, ou si ce n'est pas le cas, le nombre de kilomètres inclus sera indiqué dans la formule ainsi que le coût du kilomètre supplémentaire ;</li>
            <li>La Participation aux Frais d'Immatriculation ;</li>
            <li>La Responsabilité Civile ;</li>
            <li>Les garanties dommages au véhicule (« CDW » Collision Damage Waiver) et vol (« TW » Theft Waiver) limitant votre plafond de responsabilité au montant
                de la franchise non rachetable. Ce montant peut être réduit dans certains pays en prenant une assurance complémentaire lors de la location permettant
                le Rachat de Franchise. La liste de ces charges est indiquée sur la confirmation de réservation. </li>
        </ul>
        Les tarifs sont garantis pour la location associée à la réservation confirmée et récapitulés dans le courrier électronique de réservation.
        Des charges additionnelles à votre location de base peuvent être incluses :
        <ul>
            <li>Le Conducteur Additionnel : dès qu'il y a plus d'un conducteur pour une location, le second, et/ou les autres, conducteur est un conducteur additionnel. Il peut y avoir une surcharge supplémentaire pour chaque conducteur additionnel. </li>
            <li>La surcharge Jeune Conducteur : voir le détail de nos Prestations Annexes.</li>
            <li>La surcharge Gare ou Aéroport - Des équipements optionnels choisis au moment de la réservation.</li>
            <li>La surcharge "Prise du véhicule en dehors des heures d'ouverture" : cette surcharge s'applique dans certains pays avec l'accord de la station uniquement. Merci de vous renseigner auprès de la station concernée directement. </li>
            <li>L'option Plein d'Essence : dans certains pays vous avez la possibilité de prépayer le plein d'essence au retour de votre véhicule de location.</li>
            <li>Dommages et vol : jusqu’à la limite de la franchise de Votre protection si cette dernière a été souscrite ou bien jusqu’à la limite de la valeur résiduelle du véhicule.</li>
        </ul>
        </p>
        <h2>5. Paiement / Carte de crédit</h2>
        <p>
        <h3>"Paiement en ligne" (tarif prépayé lors de la réservation)</h3>
            Tous les paiements par Carte de Crédit sont autorisés lors de la réservation dans le cas d'un tarif prépayé.<br/>
            Avertissement : le payeur (c'est-à-dire le détenteur de carte de crédit) pour la réservation prépayée doit être le conducteur principal mentionné sur le contrat de location et doit présenter une carte de crédit à son nom et prénom lors de la prise du véhicule.<br/>
            Le paiement peut-être fait avec les modes de paiement suivants :
            <ul>
                <li>
                    Cartes de paiement avec mention « CREDIT »  -  le montant Vous sera débité en tout ou partie le jour convenu préalablement d’un mois civil donné, avec ou sans intérêts (débit différé)
                </li>
                <li>
                    Cartes de paiement avec mention « DEBIT » -  le solde de Votre compte sera débité après chaque opération (débit immédiat).
                </li>
            </ul>
        <h3>"Paiement en agence" </h3>
            <ul>
                <li>
                    Cartes de paiement avec mention « CREDIT »  -  le montant Vous sera débité en tout ou partie le jour convenu préalablement d’un mois civil donné, avec ou sans intérêts (débit différé)
                </li>
                <li>
                    Cartes accréditives – cartes fournies par PYLOC pour les clients professionnels (B2B), avec qui PYLOC a conclu un contrat de services. Acceptées sous  réserve du fonctionnement normal de la ligne de crédit mise à disposition.
                </li>
                <li>
                    Cartes logées  (Airplus, Amex)
                </li>
                <li>
                    Espèces / Chèques : seule la plus petite catégorie peut-être louée contre un paiement par chèque ou espèces - incluant le montant de la caution qui est facturée et débitée immédiatement ; une référence supplémentaire - un justificatif de domicile (par exemple une facture) récent et daté de moins de 3 mois - est exigé ainsi que les détails du compte bancaire du locataire et un dépôt de garantie.
                </li>
                <li>
                    Bons de location
                </li>
            </ul>
        <h3>"Paiement à l’étranger"</h3>
            <ul>
                <li>
                    Les règles applicables à des moyens de paiement acceptés varient en fonction du pays de location.
                </li>
                <li>
                    Nous Vous  conseillons fortement de Vous présenter avec une carte bancaire qui délivre une pré-autorisation. Nous Vous conseillons de contacter l’Agence PYLOC du pays de Votre location pour avoir plus de détails sur leurs moyens de paiement acceptés.
                </li>
            </ul>
        </p>
        <h2>6. Conditions à remplir pour louer : Documentation et âge limite</h2>
            Concernant les informations sur l'âge limite, le permis de conduire et les documents demandés lors d'une location, merci de vous référer directement aux Conditions Générales de Location applicables dans votre lieu de location.
        <h2>7. Modifier / Annuler une réservation</h2>
        <ul>
            <li><strong>Modification : </strong><br/>
                Vous pouvez modifier votre réservation, gratuitement, sous réserve que Vous informiez PYLOC au moins 48 heures avant le début du jour de la location.
                Vous reconnaissez à cet égard que de nouveaux prix de location peuvent s’appliquer si Vous modifiez votre réservation et que Vous devriez toujours utiliser
                le même canal de communication que celui que Vous avez utilisé lors de la première réservation du Véhicule pour modifier votre réservation. Vous pouvez aussi
                téléphoner à notre Centre d’appel au numéro suivant : 0 822 572 238 (0,15€TTC/1min à partir d’un poste fixe).
            </li>
        </ul>
        <ul>
            <li><strong>Annulation : </strong><br/>
                Si Vous avez prépayé votre réservation en ligne, veuillez-vous référer aux conditions de prépaiement en cliquant ici.
                Si Vous n’avez pas prépayé votre réservation en ligne :
                Vous pouvez modifier ou annuler votre réservation gratuitement jusqu’au moment de la prise du Véhicule.
                Si Vous avez renseigné vos informations bancaires afin de garantir la réservation du Véhicule, faute d’annulation de votre réservation ou de retrait du Véhicule en temps et en heure nous facturerons des frais de non présentation de 95,00 euros net
            </li>
        </ul>
        <h2>8. Garantie de la réservation</h2>
        L'agence PYLOC de prise en charge du véhicule est tenue de fournir un véhicule de la catégorie spécifiée dans la réservation selon les modalités suivantes. Si ce n'est pas possible, une solution sera proposée sans coût supplémentaire dans l'heure suivant votre arrivée.
        <ul>
            <li>
                <strong>8.1 Les coordonnées de la carte de paiement ne sont pas fournies dans la réservation :</strong><br/>
                Si au moment de la réservation vous n'avez pas fourni les coordonnées de votre carte de paiement, PYLOC s'engage à maintenir votre réservation jusqu'à une heure après l'horaire spécifié dans la réservation. PYLOC fera tout son possible pour fournir la catégorie de véhicule après l'heure de tolérance et jusqu'à son heure de fermeture. Si ce n'est pas possible, une alternative sera proposée pouvant induire un nouveau tarif.
            </li><br/>
            <li>
                <strong>8.2 Les coordonnées sont fournies</strong><br/>
                Si, au moment de la réservation, vous avez spécifié les coordonnées de votre carte de paiement ainsi que votre identifiant PYLOC (Driver ID), l'agence s'engage à vous fournir votre catégorie de véhicule jusqu'à son horaire de fermeture. Au-delà de cette limite, si vous ne vous êtes pas présenté, des frais de non présentation ("No show") seront appliqués - cf. article 8.4).
            </li><br/>
            <li><strong>8.3 Cas des vols et trains</strong><br/>
                Dans les aéroports et gares, la réservation est garantie jusqu'à 1 heure après l'heure d'arrivée spécifiée dans la réservation précisant le numéro de vol ou de train. En cas de retard du vol ou train, nous servons jusqu'à 1 heure après l'heure d'arrivée réelle. Si nous devions dépasser nos horaires d'ouverture normaux, nous serions alors en mesure d'appliquer un surcoût.
            </li><br/>
            <li>
                <strong>8.4. Non présentation à la prise en charge du véhicule (« No show »)</strong><br/>
                Si Vous n’avez pas annulé votre réservation et que Vous ne Vous présentez pas en agence pour retirer le Véhicule (à la date et l'heure de début mentionnées dans votre courrier électronique de confirmation de réservation) PYLOC vous débitera dans la monnaie du pays de location (un taux de change sera induit) d'une somme équivalente à 95€.
            </li><br/>
            <li>
                <strong>8.5. Incapacité à délivrer la catégorie de véhicule pendant la période garantie</strong><br/>
                Si nous ne pouvions vous garantir la délivrance d'un véhicule de la catégorie réservée, nous vous proposerions :
                <ol>un surclassement sans frais ; OU</ol>
                <ol>un déclassement au prix correspondant assorti d'une compensation telle qu'un bon de surclassement pour une prochaine location.</ol><br/>
                Pour les cas où ces 2 alternatives ne seraient acceptables et qu'aucun véhicule de la catégorie réservée ne serait disponible pendant l'heure qui suit l'heure de départ prévue, nous vous proposerions l'alternative suivante sans frais supplémentaires :
                <ol>organisation d'un transport vers l'agence PYLOC la plus proche dans la limite de 50 kms ; OU</ol>
                <ol>la location d'un véhicule d'une autre compagnie située à proximité de l'agence PYLOC.</ol><br/>
                Dans les cas où la règlementation imposerait le paiement d'une indemnité à votre profit, l'agence
            </li>
        </ul>
        <h2>9. Force majeure</h2>
        <p>
            Aucune partie ne sera responsable de ses performances dans les cas de force majeure, tels que définis par les autorités de régulation, qui empêchent la partie de tenir ses obligations.
            Ainsi, dans les cas de :
            <ul>
                <li>réservation avec prépaiement : la transaction sera annulée et l'agence remboursera la somme perçue. L'agence ne sera tenue à aucune obligation conformément au remboursement ;</li>
                <li>réservation garantie au-delà d'une heure : la réservation expirera, aucun frais ne sera facturé et l'agence sera dégagée de ses obligations.</li>
            </ul>
        </p>
        <h2>10. Loi Applicable - Juridiction compétente</h2>
        <p>Les présentes Conditions de prépaiement sont soumises au droit français et sont accessibles sur pyloc, site internet hébergé en France sur le territoire français. Le droit français est donc pleinement applicable.<br/>
            Si Vous avez prépayé Votre réservation en qualité de professionnel, tout litige né de Votre réservation sera soumis à la compétence exclusive du Tribunal de commerce de Versailles ou, lorsque la location est faite avec un franchisé de PYLOC, le tribunal compétent sera celui du siège social du franchisé de PYLOC.
        </p>
        <h2>11. Demande d'informations complémentaires</h2>
        <p>Si vous avez besoin d'informations complémentaires concernant votre réservation ou pour la prise de votre véhicule en agence, merci de contacter directement la Centrale de Réservations de votre pays de résidence ou celle du pays dans lequel vous voyagez. <br/>
            En France, merci de contacter directement l'Assistance Internet au 01 30 96 48 78 (0,34€ TTC/mn).</p>
    </div>


</div>
{% endblock %}