{% extends "rental/base.html" %}

{% load static %}

{% block title %}Politique de confidentialités{% endblock %}

{% block content %}
    <div class="container content">
    <div class="confidentialite ">
        <h1 class="text-center">Politique de confidentialite</h1>

        <div id="qui traite les données personnelles">
            <h2>1. Qui traite vos données personnelles via ce site internet ?</h2>
            <p>PYLOC S.A.S, dont le siège social est situé 2 rue Disney, Bât S, 77700,
                Fairyland (France) (« PY ») est responsable du traitement des données à caractère personnel
                (c'est-à-dire de toute information permettant de vous identifier, directement ou indirectement)
                vous appartenant et recueillies via ce site internet.</p>
        </div>

        <div id="quelles finalités">
            <h2>2. Pour quelles finalités PY collecte-t-elle vos données personnelles ?</h2>
            <p>
                PY traite les données personnelles que vous communiquez volontairement à PY via ce site internet pour les finalités suivantes :
                <ul>
                    <li>
                        Vous enregistrer comme membre PY, créer votre compte et vous fournir un identifiant PY.
                        Ce traitement est nécessaire pour vous identifier ainsi que pour préparer et faciliter vos futures réservations et contrats de location avec PY.
                    </li>
                    <li>
                        Votre réservation et votre contrat de location :
                        <ol>confirmer et assurer votre location ;</ol>
                        <ol>modifier et annuler votre réservation ;</ol>
                        <ol>échanger avec vous concernant votre réservation et votre location (par exemple, pour vous fournir des informations sur
                            votre réservation et votre location, pour vous envoyer des notifications de rappel avant de récupérer /
                            restitution votre véhicule, pour répondre à vos questions ou suggestions) ;</ol>
                        <ol>gérer votre location (récupération et restitution du véhicule) ;</ol>
                        <ol>gérer vos factures ;</ol>
                        <ol>gérer le recouvrement des sommes dues ;</ol>
                        <ol>gérer les potentielles réclamations ;</ol>
                        <ol>gérer le recouvrement potentiel d’indemnités en cas de dommages causés au véhicule ;</ol>
                        <ol>gérer votre assurance.</ol>
                    </li>
                    Ce traitement est nécessaire pour permettre la réservation et l’exécution du contrat de location conclu avec PY.
                    <li>
                        Votre paiement des produits / services de PY.
                        Ce traitement est nécessaire pour permettre l’exécution du contrat de location.
                        Pour votre bonne information, PY ne peut conserver vos données de carte bancaire qu’avec
                        votre consentement exprès afin de faciliter vos paiements ultérieurs.
                    </li>
                    <li>
                        L’amélioration des produits / services de PY sur la base d’enquêtes clients que vous avez complétées.
                        Ce traitement, ayant pour objet d’avoir une meilleure connaissance des besoins des membres PY et de vous offrir
                        des fonctionnalités personnalisées afin d’améliorer votre expérience des produits / services de PY,
                        est fondé sur l’ « intérêt légitime » de PY.
                    </li>
                    <li>Le fonctionnement du « chat » en temps réel de PY pour vous fournir une assistance en ligne préalable. Ce traitement, visant à créer une plus grande proximité et à établir une relation plus directe avec vous
                        (notamment en répondant plus rapidement à vos questions), est fondé sur l’ « intérêt légitime » de PY.
                    </li>
                    <li>
                        Mener des activités de prospection commerciale et de marketing, y compris :
                        <ol>l’envoi d’emails et de notifications par SMS concernant des offres spéciales et des promotions ;</ol>
                        <ol>l’enregistrement de votre historique de location pour vous suggérer des produits / services préférés lorsque vous recherchez de nouvelles réservations / locations ;</ol>
                        <ol>l’enregistrement de votre historique de location pour vous envoyer des offres spéciales et vous faire bénéficier d’avantages spéciaux selon le volume et la fréquence de vos achats ;</ol>
                        <ol>l’envoi d’emails relatifs à une réservation que nous n’avez pas complété ou relatant  un état de vos demandes de réservations ;</ol>
                        <ol>la gestion de votre programme de fidélité et de votre carte de membre ;</ol>
                        <ol>l’organisation de concours et de tirages au sort ;</ol>
                        <ol>la gestion et la mise à jour de la base de clients / prospects de PY.
                            Les activités de prospection commerciale, c’est à dire l’envoi de message à caractère commercial de PY visant à promouvoir les produits / services de PY, sont soumises à votre consentement exprès.
                            A titre d’exception, si vous êtes déjà un client existant de PY et que le message concerne des produits / services similaires à ceux que vous avez déjà commandés, le traitement sous-jacent visant à promouvoir
                            ces produits / services ne sera pas fondé sur votre consentement mais sur l’ « intérêt légitime » de PY.
                        </ol>
                    </li>
                    <li>La gestion des contraventions, en particulier pour :
                        <ol>transférer à l’Agence Nationale de Traitement Automatisé des Infractions l’identité du conducteur principal mentionné sur le contrat de location ;</ol>
                        <ol>satisfaire aux procédures de recouvrement des amendes auxquelles PY est assujettie eu égard aux autorités français et étrangères ainsi que la facturation correspondante.</ol>
                    </li>
                    <li>La gestion et la mise à jour d’une liste de clients présentant certains risques contractuels, eu égard à :
                        <ol>des d’incidents de paiement ayant pour conséquence des procédures judiciaires ;</ol>
                        <ol>des accidents de la circulation ou des dommages répétés causés par un client de PY ;</ol>
                        <ol>des accidents ou dommages causes volontairement par un client PY ;</ol>
                        <ol>l’utilisation des véhicules PY en violation des conditions générales de location de véhicules. Ce traitement, visant à réduire
                            l’exposition de PY aux risques pendant l’exécution des contrats de location, est fondé sur l’ « intérêt légitime » de PY.
                            Si vous apparaissez sur cette liste de clients à risques, votre demande de réservation / location sera rejetée.
                            Sous certaines conditions, pour pourrez contester cette décision en contactant  espace.relationclient@pyloc.com.</ol>
                    </li>
                    <li>Géolocalisation : la géolocalisation des véhicules de location dans certains cas précis uniquement – la prévention des infractions potentielles,
                        la lutte contre les cas de vol et de fraude, la vérification du nombre de kilomètres parcourus et l’obtention d’un état du véhicule en cas d’urgence.
                        Ce traitement est fondé sur le respect d’une obligation légale et l’exécution du contrat de location.
                        Pour votre parfaite information, PY traite certaines données personnelles vous concernant via des « cookies »
                        et autres traceurs collectés à chaque visite du site internet de PY. Ces traitements sont opérés conformément à la Politique de Cookies  de PY, que nous vous invitons à consulter.
                        Vous pouvez accepter ou refuser ces cookies et autre traceurs en suivant les instructions fournies dans la Politique de Cookies de PY.
                    </li>
                </ul>
        </div>

        <div id="destinataires des données personnelles">
            <h2>3. Quels sont les destinataires des données personnelles collectées vous concernant ?</h2>
            <p>
            <ul>3.1 Catégories de destinataires
                    Vos données personnelles pourront être communiquées, si nécessaire / pertinent :
                    <li>
                        aux salaries et représentants autorisés de PY, aux autres sociétés du même groupe et/ou aux sociétés
                        du réseau de franchise de PY, aux agents / intermédiaires mandatés par PY, pour les finalités décrites
                        dans la présente Politique de Confidentialité ;
                    </li>
                    <li>aux agences et prestataires, y compris informatiques pour des raisons techniques, qui assistent PY pour vous fournir ses produits / services.</li>
                    <li>concernant les informations traitées pour le paiement des contraventions, à l’Agence Nationale de Traitement Automatisé des Infractions ou à ses homologues étrangers en cas de contraventions commises à l’étranger ;</li>
                    <li>concernant les informations traitées pour la gestion et la mise à jour de la liste des personnes présentant certains risques contractuels, à la branche loueurs du Conseil national des professions de l'automobile en vue de leur mutualisation entre les sociétés membres de cette Branche Loueurs.
                        PY peut également communiquer vos données personnelles dans la mesure requise par la loi et/ou par les autorités compétentes.</li>
            </ul>
            <ul>3.2 Transferts internationaux
                Si nécessaire pour vous fournir des produits / services de PY conformément aux finalités précitées, PY transfèrera vos données personnelles en dehors de l’UE vers les tiers mentionnés ci-dessus.
                Selon les hypothèses, certains destinataires pourront être situés dans les pays reconnus par la Commission Européenne comme apportant un niveau de protection des données personnelles adéquat ou dans des pays qui n’ont pas été reconnus par
                la Commission Européenne comme apportant un tel niveau de protection. En toute hypothèse, PY a mis en place des mesures de protection appropriées pour protéger vos données personnelles, conformément au règlement européen n°2016/679.
            </ul>
            <div class="conservation">
                <h2>4. Combien de temps PY conserve-t-elle vos données personnelles ?</h2>
                <p>Vos données personnelles sont conservées pour différentes durées, en fonction des finalités du traitement concernées :
                    <table id>
                        <tr>
                            <td><strong>Finalité</strong></td>
                            <td><strong>Durée de conservation</strong></td>
                        </tr>
                        <tr>
                            <td>Votre enregistrement en tant que membre de PY, la création de votre compte et la fourniture de votre identifiant PY
                                Votre réservation et votre location de véhicule
                                Your booking and your car rental
                            </td>
                            <td>Pour la durée de la relation commerciale.
                                Cependant, les informations servant à la preuve d’un droit ou d’un contrat de location,
                                ou qui doivent être conservées en vertu d’une obligation légale, pourront faire l’objet d’une
                                politique d’archivage intermédiaire pour une durée qui n’excédera pas les finalités de conservation,
                                conformément au droit applicable.
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Paiement – Données de carte bancaire
                            </td>
                            <td>
                                Dès la réalisation effective du paiement.
                                Cependant, les données de carte bancaire (y compris le cryptogramme visuel) :
                                qui permettent d’apporter la preuve d’un paiement (c'est-à-dire le numéro de carte et la date de validité)
                                font l’objet d’une politique d’archivage intermédiaire pour une durée de 13 mois à compter du paiement effectif
                                pour une carte de paiement et de 15 mois pour une carte à début différé, et ne sont utilisées qu’en cas de contestation
                                de la transaction ;
                                peuvent être conservées pour une durée plus longue avec votre consentement exprès afin de facilité des
                                paiements ultérieurs. En toute hypothèse, à l’expiration de la carte bancaire, les données relatives à cette carte seront supprimées.
                            </td>
                        </tr>
                        <tr>
                            <td>Prospection commerciale et marketing</td>
                            <td>
                                Pour les clients PY, 3 années à compter de la fin de la relation commerciale avec PY.
                                Pour les prospects – qui ne sont pas des clients de PY – 3 années à compter de la collecte
                                de vos données personnelles OU à compter de votre dernière demande d’informations à PY.
                            </td>
                        </tr>
                        <tr>
                            <td>Amélioration des services de PY en fonction de vos préférences</td>
                            <td> années à compter du dernier contact commercial avec PY</td>
                        </tr>
                        <tr>
                            <td>Paiement des contraventions</td>
                            <td>Pour la durée nécessaire à l’identification du conducteur responsable de la commission de l’infraction à
                                l’origine de la contravention, qui ne peut excéder 45 jours à compter de la réception de la contravention.
                                Cependant, les informations pertinentes peuvent être conservées pour une durée plus longue à compter de la réception
                                de la contravention, dans le cadre d’une politique d’archivage intermédiaire.
                                Les demandes de l’Agence Nationale de Traitement Automatisé des infractions portant sur des données
                                personnelles sont supprimées une fois traitées par PY.</td>
                        </tr>
                    </table>
            </div>
        </div>


        <div class="traitement-données">
            <h2>5. Quels droits pouvez-vous exercer concernant le traitement de vos données personnelles ?</h2>
            <p>A tout moment, vous pouvez consulter et/ou mettre votre profil personnel à jour, comprenant les informations
                relatives à votre adhésion à PY, votre statut de conducteur et vos préférences de location de véhicule,
                via le lien « MyEuropcar » accessible dans la barre de navigation principale du site internet de PY.
                Vous aurez la possibilité de changer votre mot de passe, votre question secrète, de mettre à jour ou rectifier
                votre numéro de téléphone, adresse postale, adresse de courrier électronique, les informations relatives à
                votre permis de conduire ainsi que de mettre vos préférences de location et de voyage à jour, y compris les assurances,
                moyens de paiement et votre adhésion au programme de voyageur fréquent (« Frequent Flyer Program ».
                Conformément au règlement UE n°2016/679, vous bénéficiez également des droits suivants :</p>
                <ul>
                    <li>Droit d’ « accès » : droit d’obtenir la confirmation que vos données personnelles sont ou ne sont pas traitées par PY et, le cas échéant, d’accéder à ces
                        données personnelles et d’obtenir de plus amples informations sur les caractéristiques du traitement ;
                    </li>
                    <li>
                        Droit de « rectification » : droit d’obtenir la rectification de données personnelles inexactes ou le droit d'obtenir que des données à caractère personnel incomplètes soient complétées,
                        y compris en fournissant une déclaration complémentaire ;
                    </li>
                    <li>
                        Droit à l’effacement (« droit à l’oubli ») : droit d'obtenir l'effacement de vos données personnelles dans certaines
                        circonstances[1]
                    </li>
                    <li>
                        Droit d’ « opposition » : le droit de s’opposer à tout moment au traitement de vos données personnelles et d'empêcher
                        PY de poursuivre un tel traitement :
                        <ol>
                            lorsque vos données sont traitées à des fins de prospection commerciale ;
                        </ol>
                        <ol>
                            lorsque vos données personnelles sont traitées sur la base de l’ « intérêt légitime » de PY. Dans cette hypothèse, votre demande recevra une réponse favorable si vous communiquez à PY la situation particulière légitimant votre demande,
                            sauf si PY peut démontrer qu’une autre base légale s’y oppose eu égard à votre situation particulière.
                        </ol>
                    </li>
                    <li>
                        Droit de « retirer votre consentement » : si le traitement de vos données personnelles est fondé sur votre consentement,
                        le droit de retirer son consentement au traitement de ses données personnelles à tout moment et d’empêcher PY de continuer
                        un tel traitement ;
                    </li>
                    <li>
                        Droit à la « portabilité des données » : lorsque le traitement de vos données personnelles est fondé sur votre consentement par des moyens automatisés,
                        le droit de recevoir vos données personnelles fournies à PY et de transmettre ces données à un tiers ;
                    </li>
                    <li>
                        Droit « d'organiser le sort de ses données personnelles après la mort » : droit de donner des directives relatives à la conservation,
                        à l'effacement et à la communication de ses données personnelles après son décès.
                    </li>
                    Si vous souhaitez exercer l’un de ces droits, vous pouvez contacter le service client de PY aux coordonnées
                    précisées à l’article 7.
                    Afin de protéger votre vie privée et la sécurité de vos données, nous prendrons des mesures raisonnables pour
                    vérifier votre identité avant de vous donner accès ou de rectifier vos données.
                    Conformément à l’article 77 du règlement n°2016/679, vous pouvez formuler une réclamation relative
                    au traitement de vos données personnelles auprès de l’autorité de régulation de votre pays si vous considérez
                    que le traitement de vos données personnelles est opéré en violation du règlement n°2016/679.
                </ul>
        </div>

        <div id="qui contacter">
            <h2>6. Qui contacter pour poser des questions relatives au traitement de vos données personnelles ?</h2>
                Selon la finalité de votre demande :
                <ul>
                    <li>Pour exercer vos droits (accès, rectification, suppression, etc.) : vous pouvez utiliser le formulaire téléchargeable en
                        ligne ici ou contacter le service client de PY : PYLOC France Service Relation Client Bâtiment L
                        – Parc d’Affaires « PYLOCland », 2 rue Disney, 77700 Fairyland,
                        France ou espace.relationclient@pyloc.com
                    </li>
                    <li>
                        Pour les questions générales concernant le traitement de vos données personnelles par PY : privacyinformation-france@epyloc.com
                    </li>
                </ul>
        </div>

        <div id="comment protéger données">
            <h2>7. Comment protégeons-nous vos données personnelles ?</h2>
            <p>
                PY s’engage à protéger les informations recueillies via ce site internet.
                En particulier, PY utilise des mesures physiques, techniques et organisationnelles appropriées pour
                prévenir tout traitement non-autorisé ou illicite, toute perte ou destruction accidentelle de vos données personnelles.
                Les systèmes informatiques de PY sont configurés pour permettre le chiffrement/cryptage de données, des mesures
                de brouillage, et des pare-feux conformes aux standards de l’industrie. Lorsque vous communiquez des informations
                personnelles à un site EC via le réseau Internet, vos données sont protégées par la technologie de
                « Transport Layer Security » (TLS) pour s’assurer que cette transmission soit sécurisée.
                Toutes les transactions faites via le site interne PY avec votre carte bancaire sont effectuées sur un serveur sécurisé – « Secure Server Technology ». Notamment, cette technologie:
            </p>
        </div>

        <div id="quelles règles dans le traitement des données">
            <h2>8. Quelles règles s’appliquent au traitement de vos données personnelles lorsque vous cliquez sur des liens placés sur le site internet
            PY, redirigeant vers des sites de partenaires de PY ou d’autres sites ?</h2>
            <p>
                Vous trouverez sur ce site divers liens vers les sites internet de partenaires de PY (par exemple, pour des services de voyage).
                PY souhaite attirer votre attention sur le fait que cette Politique de Confidentialité ne s’applique pas aux traitements de
                vos données personnelles opérés par nos partenaires ou d’autres tiers, pouvant intervenir lorsque vous consultez leurs sites
                internet, et que PY n’est pas responsable de ce type de traitements. Nous vous invitons à consulter les Politiques de
                Confidentialité des partenaires et autres tiers de PY pour prendre connaissance des règles applicables aux traitements de vos données personnelles opérés par ces derniers.
            </p>
        </div>

        <div id="modif de la pol de confidentialité">
            <h2>9. Modifications de cette Politique de Confidentialité</h2>
            <p>
                Cette politique de confidentialité a été publiée le 21 decembre 2020.
                En cas de modification de cette politique de confidentialité par PY,
                vous serez informés des modifications sur cette page.
                Lorsqu’une modification a un impact sur un traitement effectué sur la base de votre consentement.
            </p>
        </div>

    </div>
    </div>
{% endblock %}