{% extends "rental/base.html" %}

{% load static %}

{% block title %}Conseils{% endblock %}

<link rel="stylesheet" href="{% static 'rental/style.css' %}"/>

{% block content %}
    <div class="conseils">
        <h1>Conseils de voyage</h1>
        <p>Voyager à l'étranger, c'est toujours une belle aventure ! Pour que vos prochaines vacances
        soient bien réussies et que vous en profitiez au maximum, nous avons pris le temps de faire
        une recherche approfondie pour vous. </p>
        <p>Chez PYLOC, notre objectif est de faire en sorte que votre expérience de voyage soit réussie,
        aussi agréable que possible et sans stress aucun. Nous nous efforçons que tout se passe bien,
        du moment où vous descendez de l'avion et prenez en charge votre voiture de location, jusqu'à votre retour !</p>
        <p>Si vous avez des questions à propos de votre location de voiture ou si vous recherchez des conseils de voyage
        supplémentaires, n'hésitez pas à nous contacter, à toute heure, au numéro +33 228 598 528.
        Nos agents aimables et compétents du service réservation sont à l'écoute pour vous assister au mieux, 24h/24.</p>
    </div>

{% endblock %}