{% extends "rental/base.html" %}

{% load static %}

{% block title %}Partenaires{% endblock %}

{% block content %}
    <div class="container content-dark-font conseils overflow-auto">

            <div class="text-center text-uppercase">
            <h1>Nos loueurs partenaires</h1>
            </div>
            <div class="row text-justify text-white p-3">
            <p>Si vous réservez une location de voiture avec PYLOC, vous profitez non seulement,
                de nos nombreuses années d'expérience dans le domaine, mais aussi de la compétence de
                nos loueurs partenaires reconnus dans le monde entier. Au fil des décennies, nous avons
                construit des partenariats durables avec de nombreuses sociétés de location de voitures,
                nationales et internationales, qui bénéficient déjà de votre confiance (parmi eux, Hertz, Avis
                et Europcar pour n'en citer que quelques-uns). Grâce à ces partenariats, PYLOC est en mesure
                d'offrir à ses clients un grand nombre de lieux de prise en charge, mais aussi, de meilleurs tarifs
                que les concurrents. Lorsque nous sélectionnons nos loueurs partenaires, nous veillons à ce qu'ils
                partagent les mêmes exigences de qualité et de service que les nôtres. Notre priorité est toujours
                la pleine satisfaction de nos clients.
                PYLOC est fier de travailler en étroite collaboration avec quelques-unes des plus célèbres entreprises
                de location de voitures dans le monde entier. Grâce à nos loueurs partenaires, nous donnons à nos clients la
                chance de faire des économies considérables lors de leur réservation. </p>
        </div>
            <div class="row text-center justify-content-center p-3">
          <h2 class="text-white ">Voici nos principaux partenaires</h2>
                <table class="table">
                <tbody>
                <tr>
                    <td>
                        <img class="img-fluid" src="{% static 'rental/images/partenaires/europcar-car-rental-logo.gif' %}" alt="europcar"/>
                    </td>
                    <td>
                        <img class="img-fluid" src="{% static 'rental/images/partenaires/alamo-car-rental-logo.jpg' %}" alt="alamo"/>
                    </td>
                    <td>
                        <img class="img-fluid" src="{% static 'rental/images/partenaires/avis-car-rental-logo1.jpg' %}" alt="avis"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="img-fluid" src="{% static 'rental/images/partenaires/buchbinder-car-rental-logo.jpg' %}" alt="buchbinder"/>
                    </td>
                    <td>
                        <img class="img-fluid" src="{% static 'rental/images/partenaires/budget-car-rental-logo.jpg' %}" alt="budget"/>
                    </td>
                    <td>
                        <img class="img-fluid" src="{% static 'rental/images/partenaires/enterprise-car-rental-logo1.jpg' %}" alt="enterprise"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="img-fluid" src="{% static 'rental/images/partenaires/firefly-car-rental-logo.jpg' %}" alt="firefly"/>
                    </td>
                    <td>
                        <img class="img-fluid" src="{% static 'rental/images/partenaires/fox-car-rental-logo.jpg' %}" alt="fox"/>
                    </td>
                    <td>
                        <img class="img-fluid" src="{% static 'rental/images/partenaires/hertz-supplier-logo.jpg' %}" alt="hertz"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="img-fluid" src="{% static 'rental/images/partenaires/keddy-car-rental-logo.jpg' %}" alt="keddy"/>
                    </td>
                    <td>
                        <img class="img-fluid" src="{% static 'rental/images/partenaires/national-car-rental-logo.jpg' %}" alt="national"/>
                    </td>
                    <td>
                        <img class="img-fluid" src="{% static 'rental/images/partenaires/sixt-car-rental-logo.jpg' %}" alt="sixt"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}