{% extends "./base.html" %}

{% block content %}

<div id="home-main-content">
    <div id="titre-main-content">
        <h1>Louez en toute sérénité</h1>
    </div>

    <div id="formulaire">
        <form>
            <table id="rental-form" aria-label="Formulaire de réservation">
                <tr>
                    <td colspan="2">
                        <h3>Réservez dès aujourd'hui</h3>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="départ">Départ :</label>
                        <select id="départ" title="Agence de départ" required>
                            <option value="">Veuillez sélectionner une agence</option>
                            {% for agency in agency_list %}
                                <option value="{{forloop.counter}}">{{agency.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <label for="date_depart">Date :</label>
                        <input type=date id="date_depart" title="Date de départ" required/>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="retour">Retour :</label>
                        <select id="retour" title="Agence de retour" required>
                            <option value="">Veuillez sélectionner une agence</option>
                            {% for agency in agency_list %}
                                <option value="{{forloop.counter}}">{{agency.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <label for="date_retour">Date :</label>
                        <input type=date id="date_retour" title="Date de retour" required/>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <label for="nom">Nom :</label>
                        <input type="text" id="nom" placeholder="Nom" pattern="[a-zA-Z\s\-]+" required/>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <label for="email">Email :</label>
                        <input type="email" id="email" placeholder="Email" required/>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <label for="tel">Téléphone :</label>
                        <input type="tel" id="tel" placeholder="Téléphone" required/>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <button type="button" name="submit">Confirmez la réservation</button>
                    </td>
                </tr>

            </table>
        </form>
    </div>
</div>
{% endblock %}