{% extends "rental/base.html" %}

{% block title %}PyLOC{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
 {% if contracts == None %}

   {% else %}
    <div class="container content-dark-font content ">

        <div class="list-group align-self-center text white bg-transparent border-golden overflow-auto rounded p-2">
            <h3 class="text-golden text-center p-3 text-uppercase">Mes réservations </h3>
            {% for contract in contracts %}


                <div class="list-group-item text-white border-golden p-2">
                    <div class="d-block">
                        <div class=" d-inline recap p-2"> Contrat de location n° :</div>
                        <div class="d-inline text-white p-2">{{ contract.id }}</div>
                    </div>
                    <div class="d-block">
                    <div class="d-inline">
                        <div class="d-inline recap p-2">Date départ :</div>
                        <div class="d-inline p-2">{{ contract.date_start|date:"d/m/Y H:m" }}</div>
                    </div>
                    <div class="d-inline">
                        <div class="d-inline recap p-2">Date de fin :</div>
                        <div class="d-inline p-2">{{ contract.date_end |date:"d/m/Y H:m" }}</div>
                    </div>
                    </div>
                    <div class="d-block">
                    <div class="d-inline">
                        <div class="d-inline recap p-2"> Modèle de véhicule choisie :</div>
                        <div class="d-inline v">{{ contract.vehicle.category.sample }}</div>
                    </div>
                    </div>
                <div class="d-block">
                    <div class="d-inline">
                        <div class="d-inline recap p-2">Agence :</div>
                        <div class="d-inline p-2">{{ contract.agence.name }}</div>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>

    </div> {%  endif %}
{% endblock %}