{% extends 'rental/base.html' %}

{% block title %}Service{% endblock %}

{% load static %}

{% block content %}
    <div class="container conseils content content-dark-font text-white" >
        <div class="row justify-content-center " id="services-section">
            <h1>Nos services</h1>
        </div>
        <div class="row justify-content-center p-2">

            <div class="col-md-3 col-sm-6 align-self-center">
                <img class="img-fluid" src="{% static 'rental/images/services/en_ligne.png' %}" alt="en-ligne"/>
            </div>
            <div class="col-md-8">
                <div class="text-md-left text-center font-weight-bold "><h4>Enregistrement en ligne</h4></div>
                <div class=" text-justify ">
                    Le service d'enregistrement en ligne nous permet de préparer votre contrat de
                    location
                    avant même votre arrivée au comptoir. Une fois ce service activée en ligne, nous pourrons
                    utiliser les détails de votre réservation.<br/><br/>
                    Ainsi, en réduisant la partie administrative quand vous êtes au comptoir, vous pourrez
                    être sur la route plus rapidement.
                </div>
            </div>
        </div>
        <div class="row justify-content-center p-2">
            <div class="col-md-8">
                <div class=" text-md-right text-center font-weight-bold ">
                    <h4>Aller simple</h4>
                </div>
                <div class=" text-justify align-self-center">
                    Vous avez besoin d'un véhicule uniquement pour un aller simple ? PYLOC vous propose de louer
                    un véhicule dans une agence et de le déposer dans une autre. Vous avez une totale liberté.
                </div>
            </div>
            <div class="col-md-3 col-sm-6 align-self-center">
                <img class="img-fluid" src="{% static 'rental/images/services/aller_simple.png' %}" alt="aller_simple"/>
            </div>
        </div>
        <div class="row justify-content-center p-2">
            <div class="col-md-3 col-sm-6 align-self-center">
                <img class="img-fluid" src="{% static 'rental/images/services/applications.png' %}" alt="applications"/>
            </div>
            <div class="col-md-8">
                <div class="text-md-left text-center font-weight-bold ">
                    <h4>Applications</h4>
                </div>
                <div class=" text-justify align-self-center">
                    Vous pouvez dès à présent réserver votre véhicule sur votre smartphone via notre
                    application et notre site mobile. Réservez partout où vous voulez et à n'importe
                    quel moment depuis iOS ou Android.
                </div>
            </div>

        </div>
    </div>

{% endblock %}