{% extends './base.html' %}

{% load static %}

{% block title %}Tourisme{% endblock %}

{% block content %}
    <div class="container justify-content-center" id="content-category">
        <div class="row justify-content-center p-2">
            <div class="text-center" id="title-details">
                {{ category.label }} - Groupe {{ category.code }} : {{ category.sample }} ou equivalent
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-center py-2">
            <div class="col-md-4 col-sm-6 align-self-center" id="img-detail">
                <img class="img-fluid rounded" src="{% static 'rental/images/' %}{{ category.image }}" alt="image"/>
            </div>
            <div class="d-flex flex-column col-md-8 ">
                <div class=" p-2 ">
                    <div class="text-justify">{{ category.description }}</div>
                </div>
                <div class="d-flex flex-column flex-md-row p-2">
                    <div class="d-flex flex-row">
                        <div class="align-self-center p-2 ">
                            <img class="img-fluid rounded icon-detail" src="{% static 'rental/icones/car_details_doors.png' %}"
                                 alt="icone-portes"/>
                        </div>
                        <div class="align-self-center p-2 ">{{ category.nb_doors }}
                            porte{{ category.nb_doors|pluralize }}</div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="align-self-center p-2 ">
                            <img class="img-fluid rounded icon-detail"
                                 src="{% static 'rental/icones/car_details_passengers.png' %}" alt="icone-utilisateur"/></div>
                        <div class="align-self-center p-2 ">{{ category.nb_seats }}
                            place{{ category.nb_seats|pluralize }}</div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="align-self-center p-2 ">
                            <img class="img-fluid rounded icon-detail" src="{% static 'rental/icones/car_details_luggage.png' %}"
                                 alt="icone-bagages"></div>
                        <div class="align-self-center p-2 ">{{ category.nb_luggage }}
                            bagage{{ category.nb_luggage|pluralize }}</div>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row p-2">
                    <div class="d-flex flex-row">
                        <div class="align-self-center p-2 ">
                            <img class="img-fluid rounded icon-detail" src="{% static 'rental/icones/car_details_transmission.png' %}"
                                 alt="icone-boite-vitesse"></div>
                        <div class="align-self-center p-2 ">{{ category.get_gear_display }}</div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="align-self-center p-2 ">
                            <img class="img-fluid rounded icon-detail" src="{% static 'rental/icones/car_details_energy.png' %}"
                                 alt="type-essence"></div>
                        <div class="align-self-center p-2 ">{{ category.get_energy_display }}</div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="align-self-center p-2 ">
                            <img class="img-fluid rounded icon-detail"
                                 src="{% static 'rental/icones/car_details_AC.png' %}"
                                 alt="climatisation"></div>
                        <div class="align-self-center p-2 ">{% if category.climate_control %}
                            Climatisation {% else %} -sans clim-{% endif %}</div>
                    </div>
                </div>
                <div class="p-2 ">
                    <div class="text-justify"> <strong>Véhicules similaires:</strong> {{ category.equivalent }}
                    </div>

                </div>
            </div>
        </div>
        <div class="row justify-content-center p-2" >
            <div class="text-justify p-2"><strong>Pré-autorisation</strong> bancaire : {{ category.pre_pay }} - ce montant vous
                sera demandé en agence lors de la prise de véhicule et <em>ne sera pas débuté de votre compte
                    bancaire</em>, sauf en cas de non restitution ou de dégradation du véhicule.<br/>
                NB : les caractéristiques de ce véhicule sont présentées à titre d'exemple et ne sont pas
                garanties.<br/><em>Minimum requis:</em> 21 ans, <em>Validité de permis</em> 1 an
            </div>
        </div>
    </div>

{% endblock %}