{% extends "rental/base.html" %}

{% load static %}

{% block title %}Tourisme{% endblock %}

<link rel="stylesheet" href="{% static 'rental/style.css' %}"/>

{% block content %}

<div class="container-fluid categories content">
<div class="row"> <h1 class="text-center text-golden text-uppercase">Véhicules Tourisme</h1></div>
<div class="row justify-content-center">
    {% for category in category_list %}
    <div class="list-item">
        <div class="img-container">
            <img src="{{category.image.url}}" alt="image" />
        </div>
        <div class="item-description">
            <p>({{ category.code }}) {{ category.label }}<br>{{ category.sample }}</p>
        </div>
        <div class="link-details">
            <a href="{%url 'rental:tourism_category' category.id %}">Voir détails</a>
        </div>
    </div>
    {% endfor %}
</div>
</div>



{% endblock %}