{% extends 'rental/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}Login visiteur{% endblock %}

{% block content %}
    <div class="container  content content-dark-font">

        <div class="row justify-content-center" id="title">
            <h1 class="p-2">Connexion visiteur</h1>
        </div>

        {% if form.errors %}
            <div class="row justify-content-centertext-white">
                <p>
                    Le nom d'utilisateur et le mot de passe ne correspondent pas.
                    Merci d'essayer de nouveau...
                </p>
            </div>
        {% endif %}
        <div class="row justify-content-center">
            <form class="text-white p-2" action="{% url 'rental:login' %}" method="post">


                {{ form|crispy }}

                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>

                <div class="text-center p-2">
                    <button class="btn btn-light" type="submit" value="LOGIN"> Connexion</button>
                </div>
            </form>
        </div>
        <div class="row justify-content-center text-white p-2">

            <p class="text-justify">Pas de compte ? Vous pouvez vous enregistrer en remplissant un simple
                <a class="register-link" href="{% url 'rental:registration' %}?next={{ next }}">formulaire!</a>
            </p>
        </div>

    </div>
{% endblock %}