/* ------------------ HEADER : NAVBAR ------------------*/

#main-title:hover{
    background: none!important;
    color: goldenrod;
}

#main-title-2 {
    font-size: 30px;
    padding-left: 30px;
    padding-top: 3px;
    padding-bottom: 5px;
    font-family: 'Lobster', arial, serif;
    color: black;
}

a#main-title-2:hover{
    text-decoration: none!important;
    color: goldenrod;
}

nav a{
    font-size: 20px;
    text-transform: uppercase!important;
    color: black;
}


.navbar-brand{
    font-size: 20px;
    text-transform: uppercase!important;
    color: black;
}

 a.navbar-brand:hover{
    text-decoration: none!important;
    background: linear-gradient(black, darkgray)!important;
    color: white;
    padding: 10px;
    border-radius: 10px;!important;
}

a.item-menu:hover{
    text-decoration: none!important;
    background: linear-gradient(black, darkgray)!important;
    color: white;
    padding: 10px;
    border-radius: 10px;!important;
}

/*---------------MAIN CONTENT GENERAL--------------*/
.main-content{
    background-color: #0c5460;
}

.content{
    min-height: 65vh;
}


.content h1{
    color:goldenrod;
}

.content-dark-font{
    background: rgba(0,0,0,0.8);
    border-radius: 10px;
}

#title{
    font-size:xx-large;
    text-justify: auto;
    text-align: center;
    color: goldenrod!important;
}

main{
    padding: unset;
    margin: unset;
background-image: url('../rental/images/Location.webp') !important;
background-repeat: no-repeat;
background-size: cover;
}

/*--------------------- MAIN CONTENT : Result from Research -----------------*/


.results{
    background: rgba(0,0,0,0.8);
    color: white;
    border-radius: 10px;
}

.card-title{
    color: goldenrod;
}

.table td{
    color:white;
}

@media (min-width:768px) {
   #content-index{
    height: 70vh;
}
}

.register-link{
    color:goldenrod!important;
}

.list-group-item{
    background: none;
}

/*---------------------Register-Contract------------------*/
.recap{
    font-weight: bolder;
    color: goldenrod;
}

#order-recap{
    background: rgba(255,252,255,1) ;
    border: medium goldenrod;
}

@media (min-width:900px){
    .content{
        min-height: 70vh;
    }
}

#vehicle-count li{
    background: #dce0c4;
}

.list-entreprise h2{
    color: goldenrod;
}


/*--------- PAGE TOURISME ----------*/

.card-body{
    background : none;
    opacity: 0.8;


}

.card{

    border-radius: 10px;
    background : rgba(0,0,0,0.8);
}

#tourisme-vehicule{
    background: linear-gradient(black,grey);
    overflow-y: scroll;
    height: 65vh;

}

@media (min-width: 992px) {
    #tourisme-vehicule {
        background: linear-gradient(black, grey);
    }
    }

/*---------------------- PAGE TOURISM-CATEGORY-DETAILS---------------*/
 #content-category{
     background: rgba(0,0,0,0.8);
     border-radius: 10px;
     color: white;
 }

@media (min-width:1300px) {
    #content-category{
        height: 65vh;
          }
    }

#title-details{
    color: goldenrod;
    font-size: xx-large;

}
 .icon-detail{
     background: rgba(255,255,255,0.8);
 }

 em{
     color:goldenrod;
 }

/*--------------- PAGE SERVICE---------------*/

#content-service{
    background: rgba(0,0,0,0.8);
    border-radius: 10px;
    color: white;

}

@media (min-width:1400px) {
    #content-service{
        height: 70vh;
    }
}


/*----------------FOOTER---------------*/
.footer{
    background: linear-gradient(black, darkgray)!important;
    color: white !important;
}

footer a{
    text-decoration: none!important;
    color: white!important;
}

footer a:hover{
    text-decoration: none!important;
    color: goldenrod!important;
}

/*-------------- FOOTER : Contact-------------*/
.font-golden{
    background-color: goldenrod!important;
}

.text-golden{
    color:goldenrod;
}

.border-golden{
   border-color: goldenrod;
}

/*------------ FOOTER : Partenaires-------------*/

.partenaires{
    overflow-y:scroll;
    height: 60vh;
    width: 100%;
}

/*------------LOGO-------------*/
.logo{
    font-size: 50px;
}

