/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Comfortaa:wght@300;400;500;600;700&family=Lato:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


a:hover {
    color: goldenrod;
}

p {
    padding-left: 15px;
    font-weight: bold;
    font-size: 20px;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    margin: unset;
    padding: unset;
    display: flex;
    flex-direction: column;
    font-family: 'Cabin', arial, serif;
}

/* HEADER */

header
{
    display: flex;
    justify-content: space-between; /*Les éléments sont répartis équitablement ; Le bord du premier est aligné sur le début du conteneur et la fin du dernier est alignée sur la fin du conteneur */
    background-color: white;
}

header a
{
    text-decoration: none;
    color: black
}

#main-title
{
    font-size: 65px;
    padding-left: 30px;
    padding-top: 3px;
    padding-bottom: 5px;
    font-family: 'Lobster', arial, serif;
    color: black;
}

#icons-menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 30px;
}

#icons {
    margin-top: 15px;
    display: flex;
    justify-content: right;
    padding-right: 8px;
    font-size: 20px;
    list-style-type: none;
}

#icons * img {
    height: 50px;
}

.fa {
    margin-right: 10px;
}

#main-menu {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 5px;
    background: linear-gradient(goldenrod, darkgoldenrod);
}

#main-menu ul {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
    list-style-type: none;
    padding-right: 15px;
}

#main-menu ul li {
    margin-left: 20px;
    padding: 5px;
    font-size: 1em;
    text-transform: uppercase;
    color: black

}

#main-menu ul li a
{
    color: black;
    text-decoration: none;
}

#main-menu ul li a:hover {
    background: linear-gradient(black, darkgray);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#color
{
    background-color: black;
    padding-bottom: 15px;
    background: linear-gradient(black, gray);
}

/* SECTION */

section {
    flex-grow: 1;
    background: url("images/10best-cars-group-cropped-1542126037.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
}

/* VEHICULES */

#vehicule_presentation {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    opacity: 0.8;
    color: white;
    height: 100%;
}

#vehicule_actions ul li {
    list-style-type: none;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

#vehicule_actions a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    background-color: goldenrod;
    border-radius: 5px;
    text-align: center;
}


#vehicules_list {
    display: flex;
    justify-content: space-evenly;
    color: white;
}
#vehicules_list h3 {
    text-transform: uppercase;
    color: goldenrod;
    font-size: 30px;
    text-align: center;
}

#vehicules_list table {
    width: 65%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 20px;
}


/* AJOUTER VEHICULE */

#vehicle_add {
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 0.8;
    color: white;
    width: 2000px;
    height: 100%;
}

#vehicle_add h1 {
    text-transform: uppercase;
    color: goldenrod;
    background-color: black;
    opacity: 0.8;
}

#form_add_vehicle input{
    text-transform: uppercase;
    font-size: 15px;
}

/* LOGIN */


#home-main-content {
    text-transform: uppercase;
    color: black;
    margin-left: 30px;
}



.login-form {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-left: 80px;
}
/* FOOTER */

footer {
    display: flex;
    justify-content: space-around; /*Les éléments sont répartis équitablement ; À chaque extrémité, entre le bord du conteneur et le premier/dernier élément on a la moitié de l'espace appliqué entre chaque élément*/
    background-image: linear-gradient(black, gray);
}

.footer-bloc {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 5px;
}

.test-deux{
    background-colorcolor:red;
}